.container {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 235, 235);
  flex-grow: 1;
}

.contentBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  box-sizing: border-box;

  flex-grow: 1;
  min-height: 0;

  overflow-y: auto; /* 세로 스크롤 */
  /* max-height: 600px; */
}
.promptContainer {
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  width: 100%;
  display: flex;
  padding: 10px 5px 20px 5px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.title {
  font-size: 27px;
  font-weight: 600;
}
.subtitle {
  font-size: 19px;
  font-weight: 500;
}

.keywordsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.keywordsTitle {
  font-size: 1.3rem;
  font-weight: 500;
}
.keywordsBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.keywordsLineBox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.keywordItem {
  display: flex;
  min-height: 40px;
  padding: 10px;
  border-radius: 10px;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(119, 164, 119);
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}

.canceled {
  opacity: 0.3;
}

.keywordItemExclude {
  background-color: rgb(184, 100, 88);
}
.form {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  height: 350px;
  padding: 30px 20px;
  resize: vertical;
  font-size: 1.6rem;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  outline: none;
}

.textarea:focus {
  border-color: #de6f0e;
  box-shadow: 0 0 0 2px rgba(255, 122, 42, 0.15);
}

.textarea::placeholder {
  color: #c3c2c2;
  font-size: 20px;
}

.button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background-color: #de6f0e;
  color: white;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button:hover:not(:disabled) {
  background-color: #de6f0e;
}

.buttonDisabled,
.button:disabled {
  opacity: 0.7;
  cursor: default;
}

.error {
  color: #d93025;
  margin-bottom: 12px;
  font-size: 0.95rem;
}
